/*DEVELOPER: Jeffrey Zhang, IS117-004, Spring, 2020*/
* {
  margin: 0;
  padding: 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-size: 100%;
  width:100%;
  max-width:960px;
  min-height: 100%;
  text-align: center;
  color: black;
  overflow-x: hidden;
  background-color: forestgreen;
  margin-bottom: 80px;
}
h1 {
  text-align: center;
  color: white;
  background-color:red;
  font-size: 100%;
}
h2 {
  font-size: 60%;
  margin: 0 auto;
  text-align: center;
  color: black;
}
h4 {

}
.announcement{
  font-weight: bolder;
}
img {
  max-width: 50%;
  float: none;
  margin: 0 auto;
  display: block;
}
#ptwin {
  display: none;
}
.shop ul li img{
  display: block;
  max-width: 100%;
  float: left;
  padding-right: 2%;
}
.shop ul li p {
  text-align: left;
  background-color: white;
  color: black;
}
p {
  color:black;
  padding:0 2%
}
.gameNum {
  background-color: red;
  color: white;
  text-align: center;
  padding: 5% 0;
  border: 3px solid black;
}
.gamePic {
  max-width: 30%;
  border: 2px solid black;
}
.pt {
  width: 30%;
  border: 1px solid black;
  background-color: red;
  padding: 0 1%;
}
.hint {
  text-align: center;
}
.cheat {
  text-align: right;
  color:white;
  padding-right: 2%;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 20%;
  transition: 0.3s;
  margin: auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  border-top: 2px solid black;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.footer {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: red;
  text-align: center;
  color: white;
  padding-bottom: 1px;
}
.footer p {
  color:white;
}
